<section id="about" class="section-box">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-aos="fade-right" data-aos-duration="1500">
                <img src="/images/Profile1.png" alt="photo" class="img-thumbnail">
            </div>
            <div class="col-lg-8 section-title">
                <h2>About</h2>
                <p>A proactive learner with analytical thinking and problem-solving abilities. I have experience on Web App development, building automation and integration between systems, and data analysis and visualization. My 6-year QA work experience nurtured me to be a team-player, a good communicator, and a detail-oriented person. Being able to adapt to a fast-paced working environment. I enjoy to exploring and learning new technologies and knowledge.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-7 section-title">
                <h2><i class='bx bx-code-alt'></i><span>Skills</span></h2>
                <ul>
                    <li>
                        <strong>Programming: </strong>
                    </li>
                    <li>
                        <div>Java, C#, Python, HTML, CSS, JavaScript, PHP, Node.js, SQL, PowerShell, Groovy, R, ASP.NET</div>
                    </li>
                    <li>
                        <strong>Data Visualization:</strong>
                    </li>
                    <li>
                        <div>
                            Tableau, Power BI, R
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 section-title">
                <h2><i class='bx bxs-graduation'></i><span>Education</span></h2>
                <ul>
                    <li><i class='bx bx-chevrons-right'></i>Master's Degree in <strong>Statistics</strong></li>
                    <li><i class='bx bx-chevrons-right'></i><strong>Computer Programming </strong>Diploma</li>
                </ul>
            </div>
        </div>
        
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {{#each works}}
                    <div class="swiper-slide">
                        <div class="item-img">
                            <img src="{{this.logo}}" alt="{{this.company}}">
                            <h4>{{this.company}}</h4>
                            <p><strong>{{this.jobTitle}}</strong> - {{this.duration}}</p>
                        </div>
                    </div>
                {{/each}}   
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
    
</section>